table {
  width: 80%;
  border: 1px solid black;
  margin-top: 10px;
}

td {
  padding: 15px;
  text-align: left;
  border: 1px solid black;
}

input[type=text] {
  width: 50%;
  padding: 8px 10px;
  margin: 8px 0;
  box-sizing: border-box;
}
