<div fxLayout="column" fxLayoutAlign="center center" class="main-div" *ngIf="!selected && !flightdetailStatus">
  <div style="padding: 20px 20px 0px;">
    <mat-toolbar>CheckIn-Service | Flight List </mat-toolbar>
  </div>
  <div class="table-div">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="scheduleDate">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.scheduleDate}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef> Source </th>
    <td mat-cell *matCellDef="let element"> {{element.source}} </td>
  </ng-container>

  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef> Destination </th>
    <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"
  [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
  (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>
</table>
</div>
<div class="button-div">
  <button mat-stroked-button (click)="selectFlight()">Get Passengers</button>
  <button mat-stroked-button (click)="flightCheckIn()">Check-In</button>
</div>
</div>

<div *ngIf="selected" class="passenger-list-div">
  <app-passenger-list [flightId] = "currentFlightId"></app-passenger-list>
  <button mat-stroked-button color="warn" (click)="backToFlight()">< Back</button>
</div>

<div *ngIf="flightdetailStatus">
  <app-flight-details [flightId] = "currentFlightId"></app-flight-details>
  <div fxLayoutAlign="center center">
    <button mat-stroked-button color="warn" (click)="backToFlight()" style="padding: 0px 150px 0px 150px; margin-bottom: 20px;">< Back</button>
  </div>
</div>
