<div fxLayoutAlign="center center" fxLayout="column">
  <h1>Flight No. : {{flightId}}</h1>
  <table >
    <tr>
      <th>Shop Items</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let data of dataSource">
      <td>{{data}}</td>
      <td><button mat-flat-button color="warn" (click)="deleteService(data)">Delete</button></td>
    </tr>
    </table>
    <div fxLayout="row" style="padding: 30px;">
      <input type="text" #newservice required/>
      <button mat-flat-button color="primary" (click)="addNewService(newservice.value)">Add</button>
    </div>

</div>
